{
    "env": {
        "browser": true,
    },
    "rules": {
        "no-alert": ["off"],
        "arrow-parens": ["off"],
        "no-console": ["off"],
        "no-underscore-dangle": ["off"],
        "no-trailing-spaces": ["error", { "ignoreComments": true }],
    },
}