{
    "env": {
        "node": true,
    },
    "rules": {
        "global-require": ["off"],
        "arrow-parens": ["off"],
        "no-console": ["off"],
        "camelcase": ["error", {"allow": ["_id", "ver_hw", "ver_sw", "ver_var", "upgrade_status", "configuration_status"]}],
        "no-underscore-dangle": ["off"],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }]
    },
}